html
{
 background-image:url("background.png");
 background-repeat:no-repeat;
 background-position:center;
 background-attachment:fixed;
}

body
{
 text-align:center;
 text-decoration:bold;
 color:red;
}

h1
{
 size:48;
}

a
{
 text-decoration:underline;
}

a:link, a:visited
{
 color:red;
}

a:hover
{
 color:black;
 background:red;
}

table
{
 margin: 0 auto;
 text-align:left;
}

div.header
{
 top:0;
 width:100%;
 position:fixed;
}

div.header table
{
 background-color:black;
}
