body
{
 background-image: url("robots_background.png");
 background-repeat: repeat;
 text-align:center;
 text-decoration:bold;
 color:red;
}

h1
{
 size:48;
 background-color:black;
}

a:link, a:visited
{
 text-decoration:underline;
 color:red;
}

p
{
 background-color:black;
}
